form(action=`${config.routes.CART}`, method="POST")
    input(type="hidden", name="_csrf" value=`${scrfToken}`) 
    input(type="hidden" name="id" value=`${product._id}`)
    button.btn Add to Cart         