ul {
    list-style: none;
}

li.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    background-color: #076c623d;
    border-radius: 10px;
    padding: 0 10px;
}

p {
    color: #187948f2;
}