@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
}

.btn-auth {
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
}

button.cart {
  padding: 2px;
}

.btn-auth:hover,
.btn-auth:active {
  background-color: #60c460;
  color: rgb(255, 255, 255);
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

a {
  text-decoration: none;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  word-break: break-word;
}

.error-box {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: #e22c2cb8;
  border: 2px solid #ff3131;
  border-radius: 5px;
  margin-bottom: 5px;
}

.error-box .error {
  display: block;
  padding: 15px 10px;
  color: white;
  text-align: center;
}

/*Pagination Styles*/
.paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.paging a {
  padding: 0.5rem;
  color: #00695c;
  border: 1px solid #00695c;
  margin: 0 0.5rem;
}

.paging a:hover,
.paging a:active,
.paging a.active {
  background-color: #00695c;
  color: white;
}