extends ../layouts/main.pug

block content 
    main 
        if products.length > 0
            ul 
                each product in products
                    li.cart
                        p #{product.productId.title} (#{product.quantity})
            div
                h2 Total: $#{totalSum}                               
        else 
            h1 No Products in the Cart 