extends ../layouts/main.pug

block styles 
    link(rel="stylesheet", href="/public/css/product.css")

block content 
    main
        if products.length > 0
            div.grid
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=`/${product.imageUrl}` alt="Book")
                        div.card__content
                            h2.product__price #{product.price}$
                            p.product__description #{product.description}
                        div.card__actions
                            if isLoggedIn 
                                include ../includes/add-to-card.pug
            include ../includes/pagination.pug                    
        else 
            h1 No Products!