extends ../layouts/main.pug

block content 
    main
        if orders.length > 0
            ul 
                each order in orders
                    li
                        h1 Order: #{order._id}
                            ul 
                                each product in order.items
                                    li #{product.title}(#{product.quantity})                       
        else 
            h1 No Orders 