extends ../layouts/main.pug

block content 
    main
        if orders.length > 0
            ul 
                each order in orders
                    li
                        h1 # #{order.id}
                            ul 
                                each product in order.products
                                    li Product title #{product.orderProduct.quantity}                        
        else 
            h1 No Orders 